# Visual Studio
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
Debug/
Release/

# Rider
.idea/

# SQLite baza (ako je lokalna i ne želiš pushati)
Firme.db

# EF Migrations (ako želiš ih pushati, izbriši ovo)
Migrations/

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/
project.lock.json
project.fragment.lock.json

# OS files
Thumbs.db
.DS_Store
desktop.ini

# Log files
*.log
